In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,New Norfolk,-42.78,147.06,55.40,62,90,8.05,AU,2020-10-31 17:36:00
1,1,Esperance,-33.87,121.90,73.40,28,100,14.99,AU,2020-10-31 17:33:55
2,2,Zarechnyy,53.20,45.19,42.98,84,94,3.69,RU,2020-10-31 17:43:46
3,3,Kiama,-34.68,150.87,62.01,93,70,3.00,AU,2020-10-31 17:43:46
4,4,Carnarvon,-24.87,113.63,68.00,88,40,5.82,AU,2020-10-31 17:37:07

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [9]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
6,6,Monteagudo,-19.82,-63.98,82.40,26,20,3.36,BO,2020-10-31 17:43:46
24,24,Butaritari,3.07,172.79,81.39,75,68,16.35,KI,2020-10-31 17:36:27
26,26,Senanga,-16.12,23.27,83.39,17,24,7.83,ZM,2020-10-31 17:38:18
40,40,Rikitea,-23.12,-134.97,75.09,70,6,7.58,PF,2020-10-31 17:37:55
42,42,Hilo,19.73,-155.09,75.99,69,20,6.93,US,2020-10-31 17:37:59
47,47,Kloulklubed,7.04,134.26,82.40,78,90,10.29,PW,2020-10-31 17:43:49
52,52,Atuona,-9.80,-139.03,78.31,76,15,18.48,PF,2020-10-31 17:35:55
54,54,Kidal,18.44,1.41,84.78,14,11,10.87,ML,2020-10-31 17:43:49
60,60,Pitiquito,30.70,-112.08,81.00,33,85,1.01,MX,2020-10-31 17:40:39
63,63,Praia,14.92,-23.51,82.40,65,75,21.92,CV,2020-10-31 17:43:50

In [10]:
preferred_cities_df.count()

City_ID       169
City          169
Lat           169
Lng           169
Max Temp      169
Humidity      169
Cloudiness    169
Wind Speed    169
Country       169
Date          169
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng Hotel Name
6    Monteagudo      BO     82.40 -19.82  -63.98
24   Butaritari      KI     81.39   3.07  172.79
26      Senanga      ZM     83.39 -16.12   23.27
40      Rikitea      PF     75.09 -23.12 -134.97
42         Hilo      US     75.99  19.73 -155.09
47  Kloulklubed      PW     82.40   7.04  134.26
52       Atuona      PF     78.31  -9.80 -139.03
54        Kidal      ML     84.78  18.44    1.41
60    Pitiquito      MX     81.00  30.70 -112.08
63        Praia      CV     82.40  14.92  -23.51

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head(10)

           City Country  Max Temp    Lat     Lng                  Hotel Name
6    Monteagudo      BO     82.40 -19.82  -63.98        Residencial "OLIVIA"
24   Butaritari      KI     81.39   3.07  172.79          Isles Sunset Lodge
26      Senanga      ZM     83.39 -16.12   23.27  Christopher Nasilele House
40      Rikitea      PF     75.09 -23.12 -134.97              Pension Maro'i
42         Hilo      US     75.99  19.73 -155.09         Hilo Hawaiian Hotel
47  Kloulklubed      PW     82.40   7.04  134.26     Storyboard Beach Resort
52       Atuona      PF     78.31  -9.80 -139.03                 Villa Enata
54        Kidal      ML     84.78  18.44    1.41
60    Pitiquito      MX     81.00  30.70 -112.08            California Plaza
63        Praia      CV     82.40  14.92  -23.51               LT Aparthotel

In [14]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Add Info Box
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))